:root {
  --main: #414556;
  --secondary: #242633;
  --bright: #f7aa22;
  --white: #ffffff;
  --section-light: #c5c7d1;
}
.text-bright {
  color: var(--bright);
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--main);
}
/* Nav Styles */
.nav-item {
  position: relative;
  font-weight: 700;
}
.nav-item.active::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: var(--bright);
  left: calc(50% - 3.5px);
}
/* End Nav Styles */

/* Others */
#jbritz-page {
  padding-top: 44px;
  background: url(../images/person.png);
  background-repeat: no-repeat;
  background-position: 40%;
}
.head-section {
  margin-top: 50%;
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 70px;
  position: relative;
  -webkit-text-stroke: 3px white;
}
.head-section::after {
  content: "";
  position: absolute;
  width: 95px;
  height: 14px;
  background-color: var(--bright);
  bottom: -30px;
  left: 0px;
}
@media only screen and (max-device-width: 768px) {
  .head-section {
    font-size: 50px;
  }
}
.landing-section {
  display: flex;
  min-height: calc(100vh - 100px);
}
.mini-section-head {
  color: var(--bright);
  position: relative;
  padding-left: 45px;
  font-size: 20px;
  font-weight: 800;
}
.mini-section-head::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: var(--bright);
  left: 0;
  top: calc(50% - 2px);
}
.mini-section-body {
  line-height: 40px;
  font-size: 25px;
  font-weight: 900;
  color: var(--section-light);
}
.social-icon-set {
  padding-top: 34px;
}
.social-icon:nth-of-type(1) {
  margin-left: 0px;
}
.social-icon {
  display: inline-block;
  margin: 0 12.5px;
}
.social-icon:hover {
  opacity: 0.9;
}
.social-icon-img {
  height: 34px;
  width: 34px;
}
.contact-section {
  background-color: var(--secondary);
  padding-top: 100px;
}
.contact-info a {
  color: var(--bright);
  text-decoration: none;
}
.support-info {
  color: #e5e5e5;
  font-size: 18px;
  position: relative;
  padding-left: 70px;
}
.support-info:nth-of-type(1) {
  padding-left: 90px;
}
.support-info::before {
  content: attr(data-before);
  color: var(--bright);
  position: absolute;
  font-size: 34px;
  left: 16px;
  top: 0;
}
.experience-card-section {
  background-image: linear-gradient(
    to bottom,
    var(--secondary),
    var(--secondary) 50%,
    var(--main) 50%,
    var(--main)
  );
}
.experience-card {
  height: 340px;
  width: 290px;
  padding: 135px 20px 0;
  background-color: #323445;
  color: var(--white);
}
.experience-card:hover {
  background-color: #f7aa22;
}
.experience-card h1 {
  font-weight: 900;
}
.experience-card-icon {
  width: 85px;
}
.ex-card-image {
  width: 44px;
  height: 41px;
}
/*  */
.org-section {
  padding-bottom: 100px;
}
.org-logo {
  height: 94px;
  width: 94px;
  margin: 10px 38.5px;
}
/*  */
.portfolio-section {
  padding-top: 118px;
  padding-bottom: 78px;
  background: var(--main);
}
a.bright-link {
  color: var(--bright);
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  position: relative;
}
a.bright-link::after {
  content: "";
  position: absolute;
  background-color: var(--bright);
  height: 4px;
  width: 25px;
  right: -40px;
  top: calc(50% - 2px);
}
.boxed-img {
  object-fit: contain;
  width: 100%;
}
/*  */
.blog-section {
  padding-top: 172px;
  padding-bottom: 100px;
  background-color: var(--secondary);
}
.blog-list-item {
  padding: 23.5px 0; /*47*/
  display: flex;
  position: relative;
}
.blog-list-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--main);
}

.blog-date {
  width: 120px;
  font-size: 12px;
}
.blog-item {
  font-weight: 900;
  width: calc(100% - 34px);
  color: var(--section-light);
}
